@-moz-document url-prefix("https://example:9090") {
body {
    background: #222;
}

.panel-default > .panel-heading {
    background: #444;
    color: #eee;
    border-color: #333;
}

.panel-default {
    border-color: #333;
}

table {
    background: #333;
    color: #eee;
}

.rowsmall {
    color: #eee;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border-color: #222;
}

th {
    background-color: #444;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    border-bottom-color: #222;
    background: #444;
}

.modal-content {
    background: #222;
}

.modal-header {
    background: #222;
    color: #eee;
}

.modal-body table {
    border-color: #111;
    background: #222;
    color: #eee;
}

.form-control {
    background: #333;
    color: #eee;
    border-left-color: #222;
    border-right-color: #222;
    border-bottom-color: #222;
    border-top-color: #222;
}

.bootstrap-select.btn-group .btn, .content-header-extra .dropdown-toggle, .dropdown-toggle, .form-control:not(.ct-select), .input-group-addon {
    border-color: #222;
    color: #eee;
}

.bootstrap-select.btn-group .btn:active, .bootstrap-select.btn-group .btn:focus, .bootstrap-select.btn-group .btn:hover, .content-header-extra .dropdown-toggle:active, .content-header-extra .dropdown-toggle:focus, .content-header-extra .dropdown-toggle:hover, .dropdown-toggle:active, .dropdown-toggle:focus, .dropdown-toggle:hover, .form-control:not(.ct-select):active, .form-control:not(.ct-select):focus, .form-control:not(.ct-select):hover, .input-group-addon:active, .input-group-addon:focus, .input-group-addon:hover {
    border-color: #666;
    color: #eee;
}
}
