/* ==UserStyle==
@name         Dark d20PFSRD
@namespace    d20pfsrd.com
@description  Dark theme for d20PFSRD
@author       cclloyd (https://gitlab.com/cclloyd1)
@homepageURL  https://gitlab.com/cclloyd1/nightweb
@supportURL   https://gitlab.com/cclloyd1/nightweb/issues
@updateURL    https://gitlab.com/cclloyd1/nightweb/raw/master/d20pfsrd/d20pfsrd.user.styl
@preprocessor stylus
@version      1.0.1
@license      MIT
==/UserStyle== */

/*!
 * NOTE: Modifying the code will put auto-update feature of Stylus on pause in
 * order to preserve your local changes. That means you need to manually update
 * Dark-GitLab and re-do your modifications in order to stay up-to-date.
 *
 * A way to add domains without modifying the code doesn't exist yet.
 * Relevant issue: https://github.com/openstyles/stylus/issues/307
 *
 * Make sure you have the latest version before submitting bug reports.
 */

@-moz-document domain('d20pfsrd.com') {
  .ognannouncement-container {
    display: none;
  }

  main,
  section,
  article,
  h1,
  html,
  body {
    background-color: #333;
    color: #ddd;
  }
  main h1 {
    color: #ddd;
  }

  article,
  div.widget,
  div.ogn-childpages,
  article div.faq {
    background-color: #333;
  }

  main article h4,
  article div.faq > div:first-of-type,
  main .article-content h4,
  #toc_container,
  p.title {
    background-color: #666;
    color: #ddd;
  }

  main article h4 {
    padding: 5px 10px;
  }

  body article a:link,
  body article a:visited {
    color: #fff !important;
  }

  nav.navbar-inverse {
    background-color: #324c82;
  }

  .product-listing,
  .footer-widget {
    display: none;
  }

  body .sidebar-left div.sidebar-widget li.page_item,
  .sidebar-left div.sidebar-widget li.page_item,
  main article.home div.contentblock,
  article div.contentblock > table > tbody > tr > td > div > div,
  article table:not(.sites-layout-hbox) thead,
  table:not(.sites-layout-hbox) th,
  #toc_container.toc_light_blue,
  article div.contentblock > table > tbody > tr > td > div > div:nth-of-type(1),
  article table:not(.sites-layout-hbox) tr:nth-child(even),
  .sites-embed-content,
  .sites-embed-content-notitle,
  footer div.footer,
  .form-control {
    background-color: #333 !important;
    color: #ddd;
  }

  table caption {
    color: #ddd;
  }

  article table:not(.sites-layout-hbox) tr:nth-child(even),
  article div.contentblock > table > tbody > tr > td > div > div:nth-of-type(1) {
    background-color: #444;
  }

  article table:not(.sites-layout-hbox) tr td {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  article table:not(.sites-layout-hbox) thead,
  table:not(.sites-layout-hbox) th,
  div.section15 > :first-child {
    background-color: #777;
  }

  body .sidebar-left div.sidebar-widget div.widget li a,
  body .sidebar-left div.sidebar-widget > div > ul > li.page_item ul.children a,
  body .sidebar-left div.sidebar-widget div.widget a,
  body .right-sidebar div.page-widget div.widget a {
    color: #fff !important;
  }


  body .sidebar-left div,
  body .sidebar-left div.sidebar-widget > div.widget_srdpagelist li div.ognmenugap {
    background: transparent;
  }

  .widget_srdgoogleads,
  .product-left,
  .right-sidebar-widgets {
    display: none;
  }

  .subscribe, div.section15, .widget_srdgoogleads, .widget_black_studio_tinymce, .widget_rss {
    display: none !important;
  }

}