/* ==UserStyle==
@name         Dark Roll20
@namespace    roll20.com
@description  Dark theme for roll20 in-game
@author       cclloyd (https://gitlab.com/cclloyd1)
@homepageURL  https://gitlab.com/cclloyd1/nightweb
@supportURL   https://gitlab.com/cclloyd1/nightweb/issues
@updateURL    https://gitlab.com/cclloyd1/nightweb/raw/master/roll20/roll20.user.styl
@preprocessor stylus
@version      1.0.1
@license      MIT
==/UserStyle== */

/*!
 * NOTE: Modifying the code will put auto-update feature of Stylus on pause in
 * order to preserve your local changes. That means you need to manually update
 * Dark-GitLab and re-do your modifications in order to stay up-to-date.
 *
 * A way to add domains without modifying the code doesn't exist yet.
 * Relevant issue: https://github.com/openstyles/stylus/issues/307
 *
 * Make sure you have the latest version before submitting bug reports.
 */

@-moz-document url-prefix('https://app.roll20.net/editor/') {

  h1 {
    color: #999; }

  h2 {
    color: #999; }

  h3 {
    color: #999; }

  label {
    color: #666; }

  .btn, button {
    background: #151515;
    border: 1px solid #000;
    box-shadow: inset 0 1px 0 rgba(100, 100, 100, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #999;
    text-shadow: none;
    transition: all .2s; }

  .btn:hover {
    background-color: #1b1b1b;
    box-shadow: inset 0 1px 0 rgba(100, 100, 100, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #999;
    transition: all .2s; }

  .btn:focus {
    outline: none; }

  #macrobar .btn {
    border: 1px solid #000 !important;
    box-shadow: inset 0 1px 0 rgba(100, 100, 100, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1); }

  a:focus, img:focus {
    outline: none; }

  hr {
    border-color: #222 !important; }

  table, tr, td, th {
    border-color: #000 !important; }

  select {
    background: #151515;
    border: 1px solid #000;
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.1);
    color: #666; }
  select:focus {
    outline: none; }

  input {
    background: #222;
    border: 1px solid #000;
    box-shadow: inset 0 0 5px #000;
    color: #999; }
  input:focus {
    border-color: #000;
    box-shadow: inset 0 0 5px #000;
    outline: none; }

  input[type=checkbox] {
    background: #222;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 16px;
    width: 16px;
    margin: 3px 0 6px 0;
    border-radius: 2px; }
  input[type=checkbox]:focus {
    outline: none; }

  input[type="checkbox"]:checked {
    background: #006666; }

  .ui-dialog label.checkbox input[type="checkbox"] {
    display: inline-table;
    position: relative;
    top: 2px; }

  .ui-dialog .dialog label input[type="checkbox"] {
    margin: 0;
    position: relative;
    top: 2px; }

  .ui-tabs-panel input[type="checkbox"] {
    margin: 0;
    position: relative;
    top: 2px; }

  textarea::-webkit-scrollbar-corner {
    border-left: 1px solid #000; }

  textarea::-webkit-resizer {
    display: none; }

  ::placeholder {
    color: #555; }

  ::-webkit-scrollbar, scrollbar, scrollbar * {
    width: auto;
    -moz-appearance: none !important; }

  ::-webkit-scrollbar-track, scrollbar-track {
    background: #111;
    border: 1px solid #000; }

  ::-webkit-scrollbar-thumb, scrollbar-thumb {
    background: #0A0A0A !important;
    border: 1px solid #000; }

  ::-webkit-scrollbar-corner, scrollbar-corner {
    background: #0A0A0A;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-color: #000; }
  
  html {
    scrollbar-color: #222 #111;
  }

  #sidebarcontrol {
    background: #0A0A0A;
    border: 1px solid #000;
    top: 0px;
    height: 25px;
    line-height: 28px;
    color: #666;
    opacity: 1;
    display: none; }

  #sidebarcontrol .fonticon-menu:before {
    margin-left: 1px; }

  #rightsidebar {
    background: #0A0A0A;
    border: none; }

  #rightsidebar ul.tabmenu {
    background-color: #0A0A0A;
    border-bottom: 1px solid #333; }

  #rightsidebar .ui-tabs-nav a {
    color: #666;
    text-shadow: none;
    transition: all .2s; }

  .ui-tabs .ui-tabs-nav li:hover, .ui-tabs .ui-tabs-nav li:hover a, .ui-tabs .ui-tabs-nav li a:hover {
    background: #222;
    border-bottom: 1px solid #333;
    color: #999 !important; }

  #rightsidebar .ui-tabs-nav li.ui-state-active a {
    color: #009999 !important; }

  #rightsidebar .ui-tabs-nav li:focus, #rightsidebar .ui-tabs-nav li a:focus, #rightsidebar .ui-tabs-nav li.ui-state-active:focus {
    outline: none; }

  #rightsidebar li.alertify a {
    background-color: #009999; }

  .dd-handle {
    background: #222;
    height: 30px; }
  .dd-handle:before {
    color: #999;
    top: 5px; }

  .ui-widget-content {
    background: #111;
    border-color: #000; }

  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #1b1b1b;
    border: 1px solid #000;
    outline: none; }

  #zoomslider {
    opacity: 1;
    box-shadow: 0 0 3px #000; }

  #imagedialog .searchbox {
    background-color: #0A0A0A; }

  #imagedialog .tabcontainer a {
    color: #666; }
  #imagedialog .tabcontainer a:hover {
    color: #999; }

  #imagedialog .tabcontainer a.active {
    color: #009999 !important; }

  .dd-item > button:before {
    color: #666; }

  .folderroot .dd-content {
    border-top: 1px solid #222; }

  .dd-content {
    color: #666; }
  .dd-content:hover {
    color: #999 !important; }

  .dd-list .handout img, .archivetable img {
    max-height: 28px; }

  .handout .dd-content .token {
    background: url(https://i.imgur.com/CLIUTZs.png);
    width: 28px;
    height: 28px; }

  .handout .dd-content .token img {
    opacity: 0; }

  .dd-item .playerdots {
    background-color: transparent; }

  .d20contextmenu > ul {
    background-color: #222;
    color: #999; }

  .d20contextmenu ul li:hover {
    background-color: #333; }

  .folderroot .archiveentry {
    border-bottom: 1px solid #222; }

  .atribsitem-link, .expandcontroller {
    font-size: 0px; }

  .container {
    background: #111112; }

  #tableofcontents {
    background-color: #111112;
    border: none; }

  .breadcrumb {
    background: #111112;
    border-bottom: 1px solid #222 !important; }

  .content-text a:link {
    color: #009999; }

  .pull-right {
    background-color: transparent !important; }

  .content-text h1, .content-text h2, .content-text h3, .content-text h4 {
    color: #999; }

  .content-text {
    color: #666; }

  a.autolink {
    border-bottom: 1px dotted #006666; }
  a.autolink:hover {
    background-color: #ccc; }

  .attrList .attrListItem:nth-child(odd) {
    background-color: #151515; }

  .attrList .attrListItem, .attrList .newAttrListItem {
    border-color: #222; }

  #jukeboxwhatsplaying {
    border: 1px solid #222; }

  #jukeboxwhatsplaying h4 {
    color: #999; }

  #jukeboxfolderroot div.title:hover {
    background-color: #151515; }

  #jukeboxfolderroot .loopcontainer input[type="checkbox"] + label span {
    opacity: 1; }

  #jukeboxfolderroot .loopcontainer input[type="checkbox"]:checked + label span {
    color: #009999; }

  .volume input[type="range"] {
    -webkit-appearance: none;
    background: #666 !important;
    box-shadow: none;
    border: none;
    height: 3px !important; }

  .volume input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #009999;
    border: 1px solid #000;
    height: 20px;
    width: 15px; }

  .macro input[type="checkbox"] {
    width: 16px !important;
    position: relative;
    top: 2px; }

  #existingmacros .rollmacro {
    color: #999; }

  .table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
    background-color: #151515; }

  .table-striped tbody tr:nth-child(even) td, .table-striped tbody tr:nth-child(even) th {
    background-color: #222; }

  .table th, .table td {
    border-top: 1px solid #000; }

  .ui-widget-content {
    color: #666; }

  .textchatcontainer .message {
    padding-bottom: 10px;
    background-color: transparent; }

  .textchatcontainer .message .spacer {
    background-color: #151515; }

  .textchatcontainer .message:first-child .spacer {
    opacity: 0; }

  .ui-widget-content a {
    color: #009999 !important; }

  .textchatcontainer a[href^="!"], .textchatcontainer a[href^="~"] {
    background: #222; }

  code {
    color: #009999;
    background-color: #333;
    border: 1px solid #333; }

  .textchatcontainer .message.system {
    display: none; }

  .textchatcontainer .message.you {
    background-color: transparent; }

  .textchatcontainer .message.you .spacer {
    background-color: #151515; }

  .textchatcontainer .message.you .by {
    color: #009999; }

  .textchatcontainer .message.private {
    background-color: #001111; }

  .textchatcontainer .message.private .spacer {
    background-color: #222; }

  .textchatcontainer .error {
    border-color: #990000; }

  .textchatcontainer .message.error .spacer {
    background-color: transparent; }

  .textchatcontainer .formula, .textchatcontainer .rolled {
    background: #222;
    border: 1px solid #000;
    color: #666; }

  .textchatcontainer .rolled {
    color: #999; }

  .sheet-grey span {
    color: #666 !important; }

  .diceroll .didroll {
    color: #999;
    text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000; }

  .textchatcontainer .formattedformula > .dicegrouping.ui-sortable {
    color: transparent; }

  .diceroll .backing {
    color: #999;
    text-shadow: 0 0 3px #999; }

  .textchatcontainer .rollresult.quantumRoll {
    background: url(https://i.imgur.com/L0zwzjO.png) no-repeat bottom left; }

  .diceroll.critsuccess .didroll {
    color: #33cc33; }

  .diceroll.critfail .didroll {
    color: #cc3333; }

  #textchat-input {
    background-color: #0A0A0A;
    border-top: none; }

  #textchat-input textarea {
    background: #111;
    border: 1px solid #000;
    box-shadow: inset 0 0 5px #000;
    color: #666; }

  .sheet-rolltemplate-simple .sheet-adv span, .sheet-rolltemplate-simple .sheet-solo span, .sheet-rolltemplate-atk .sheet-adv span, .sheet-rolltemplate-atk .sheet-solo span, .sheet-rolltemplate-atkdmg .sheet-adv span, .sheet-rolltemplate-atkdmg .sheet-solo span, .sheet-rolltemplate-dmg .sheet-adv span, .sheet-rolltemplate-dmg .sheet-solo span {
    color: #999; }

  .sheet-rolltemplate-atkdmg .sheet-damagetemplate .inlinerollresult.fullcrit, .sheet-rolltemplate-atkdmg .sheet-damagetemplate .inlinerollresult.fullfail, .sheet-rolltemplate-atkdmg .sheet-damagetemplate .inlinerollresult.importantroll, .sheet-rolltemplate-dmg .sheet-damagetemplate .inlinerollresult.fullcrit, .sheet-rolltemplate-dmg .sheet-damagetemplate .inlinerollresult.fullfail, .sheet-rolltemplate-dmg .sheet-damagetemplate .inlinerollresult.importantroll, .sheet-rolltemplate-npcaction .sheet-damagetemplate .inlinerollresult.fullcrit, .sheet-rolltemplate-npcaction .sheet-damagetemplate .inlinerollresult.fullfail, .sheet-rolltemplate-npcaction .sheet-damagetemplate .inlinerollresult.importantroll, .sheet-rolltemplate-npcdmg .sheet-damagetemplate .inlinerollresult.fullcrit, .sheet-rolltemplate-npcdmg .sheet-damagetemplate .inlinerollresult.fullfail, .sheet-rolltemplate-npcdmg .sheet-damagetemplate .inlinerollresult.importantroll, .sheet-rolltemplate-atkdmg .sheet-desc .inlinerollresult.fullcrit, .sheet-rolltemplate-atkdmg .sheet-desc .inlinerollresult.importantroll, .sheet-rolltemplate-atkdmg .sheet-desc .inlinerollresult.fullfail, .sheet-rolltemplate-dmg .sheet-desc .inlinerollresult.fullcrit, .sheet-rolltemplate-dmg .sheet-desc .inlinerollresult.importantroll, .sheet-rolltemplate-dmg .sheet-desc .inlinerollresult.fullfail
  .sheet-rolltemplate-atk .sheet-desc .inlinerollresult.fullcrit, .sheet-rolltemplate-atk .sheet-desc .inlinerollresult.importantroll, .sheet-rolltemplate-atk .sheet-desc .inlinerollresult.fullfail {
    color: #999; }

  .sheet-rolltemplate-npc, .sheet-rolltemplate-npcaction .sheet-container, .sheet-rolltemplate-npcatk, .sheet-rolltemplate-npcdmg, .sheet-rolltemplate-traits {
    background-color: #222;
    border-color: #000;
    width: 185px; }

  .sheet-rolltemplate-npc .sheet-header, .sheet-rolltemplate-npcaction .sheet-header, .sheet-rolltemplate-npcatk .sheet-header, .sheet-rolltemplate-npcdmg .sheet-header {
    color: #009999; }

  div.sheet-rolltemplate-npc div.sheet-arrow-right, div.sheet-rolltemplate-npcaction div.sheet-arrow-right, div.sheet-rolltemplate-npcatk div.sheet-arrow-right, div.sheet-rolltemplate-npcdmg div.sheet-arrow-right {
    border-left-color: #006666; }

  .sheet-rolltemplate-npcaction .sheet-container.sheet-dmgcontainer {
    margin-top: 0; }

  .sheet-rolltemplate-npc .inlinerollresult, .sheet-rolltemplate-npcaction .inlinerollresult, .sheet-rolltemplate-npcatk .inlinerollresult, .sheet-rolltemplate-npcdmg .inlinerollresult, .sheet-rolltemplate-traits .inlinerollresult {
    background-color: transparent;
    color: #999; }

  div.sheet-rolltemplate-atk div.sheet-container, div.sheet-rolltemplate-atkdmg div.sheet-container.sheet-atk, div.sheet-rolltemplate-dmg div.sheet-atk {
    background: #222;
    border: 1px solid #000;
    width: 195px; }

  .sheet-rolltemplate-atk .sheet-sublabel span, .sheet-rolltemplate-atkdmg .sheet-sublabel span, .sheet-rolltemplate-dmg .sheet-sublabel span, .charsheet {
    color: #666; }

  .sheet-rolltemplate-atk .sheet-container, .sheet-rolltemplate-atkdmg .sheet-container.sheet-atk, .sheet-rolltemplate-dmg .sheet-atk, .sheet-rolltemplate-atkdmg .sheet-label span span {
    color: #666; }

  .sheet-rolltemplate-simple .sheet-label, .sheet-rolltemplate-atk .sheet-label, .sheet-rolltemplate-atkdmg .sheet-label, .sheet-rolltemplate-dmg .sheet-label {
    color: #666; }

  div.sheet-rolltemplate-dmg div.sheet-container, div.sheet-rolltemplate-atkdmg div.sheet-container.sheet-damagetemplate {
    background: #222;
    border: 1px solid #000;
    width: 195px; }

  .sheet-rolltemplate-simple .sheet-solo, .sheet-rolltemplate-atk .sheet-solo, .sheet-rolltemplate-atkdmg .sheet-solo, .sheet-rolltemplate-dmg .sheet-solo {
    padding-top: 10px; }

  .sheet-rolltemplate-atkdmg .sheet-damagetemplate .sheet-sublabel, .sheet-rolltemplate-dmg .sheet-damagetemplate .sheet-sublabel, .sheet-rolltemplate-atkdmg .sheet-desc .sheet-sublabel, .sheet-rolltemplate-dmg .sheet-desc .sheet-sublabel {
    margin-top: 0; }

  .sheet-rolltemplate-atkdmg .sheet-damagetemplate .sheet-sublabel, .sheet-rolltemplate-dmg .sheet-container, .sheet-rolltemplate-atkdmg .sheet-container.sheet-damagetemplate {
    color: #666; }

  div.sheet-rolltemplate-atk div.sheet-desc, div.sheet-rolltemplate-atkdmg div.sheet-desc, div.sheet-rolltemplate-dmg div.sheet-desc, div.sheet-rolltemplate-desc div.sheet-desc {
    background: #222;
    border: 1px solid #000;
    width: 195px; }

  .sheet-rolltemplate-dmg .sheet-desc .inlinerollresult, .sheet-rolltemplate-atkdmg .sheet-desc .inlinerollresult, .sheet-rolltemplate-atk .sheet-desc .inlinerollresult {
    color: #999; }

  .sheet-rolltemplate-atk .sheet-desc, .sheet-rolltemplate-atkdmg .sheet-desc, .sheet-rolltemplate-dmg .sheet-desc, .sheet-rolltemplate-desc .sheet-desc {
    color: #666; }

  .sheet-rolltemplate-atkdmg .sheet-damagetemplate .sheet-sublabel, .sheet-rolltemplate-dmg .sheet-damagetemplate .sheet-sublabel, .sheet-rolltemplate-atkdmg .sheet-desc .sheet-sublabel, .sheet-rolltemplate-dmg .sheet-desc .sheet-sublabel {
    color: #666; }

  .sheet-rolltemplate-atk .sheet-sublabel, .sheet-rolltemplate-atkdmg .sheet-sublabel, .sheet-rolltemplate-dmg .sheet-sublabel {
    font-style: normal; }

  .sheet-rolltemplate-spell .sheet-container {
    background: #222;
    border: 1px solid #000;
    color: #666;
    font-family: inherit;
    width: 100%;
    margin-left: -33px; }

  .sheet-rolltemplate-spell .sheet-title {
    color: #009999; }

  .sheet-rolltemplate-atk .sheet-save .sheet-savedc, .sheet-rolltemplate-dmg .sheet-save .sheet-savedc, .sheet-rolltemplate-atkdmg .sheet-save .sheet-savedc {
    padding-top: 0; }

  .sheet-savedc .sheet-rolltemplate-inline .inlinerollresult {
    margin-left: 5px; }

  div.sheet-rolltemplate-atk div.sheet-desc.sheet-info .sheet-top, div.sheet-rolltemplate-atkdmg div.sheet-desc.sheet-info .sheet-top, div.sheet-rolltemplate-dmg div.sheet-desc.sheet-info .sheet-top, div.sheet-rolltemplate-desc div.sheet-desc.sheet-info .sheet-top {
    background: #222; }

  div.sheet-rolltemplate-atk div.sheet-desc.sheet-info .sheet-middle, div.sheet-rolltemplate-atkdmg div.sheet-desc.sheet-info .sheet-middle, div.sheet-rolltemplate-dmg div.sheet-desc.sheet-info .sheet-middle, div.sheet-rolltemplate-desc div.sheet-desc.sheet-info .sheet-middle {
    background: #222; }

  div.sheet-rolltemplate-atk div.sheet-desc.sheet-info .sheet-bottom, div.sheet-rolltemplate-atkdmg div.sheet-desc.sheet-info .sheet-bottom, div.sheet-rolltemplate-dmg div.sheet-desc.sheet-info .sheet-bottom, div.sheet-rolltemplate-desc div.sheet-desc.sheet-info .sheet-bottom {
    background: #222; }

  div.sheet-rolltemplate-simple div.sheet-container {
    background: #222;
    border: 1px solid #000; }

  .sheet-rolltemplate-simple .sheet-label span span {
    color: #666; }

  .sheet-rolltemplate-traits .sheet-header {
    color: #009999; }

  .sheet-rolltemplate-traits .sheet-subheader {
    color: #666; }

  .message table, .message tr, .message td {
    border: none; }

  .sheet-rolltemplate-5e-shaped {
    margin-right: 0;
    margin-left: -38px;
    margin-top: 10px; }

  .sheet-rolltemplate-5e-shaped * {
    line-height: inherit; }

  .sheet-rolltemplate-5e-shaped a[href^="!"], .sheet-rolltemplate-5e-shaped a[href^="~"] {
    background: transparent; }

  .sheet-rolltemplate-5e-shaped .sheet-box-middle {
    background-color: #101010; }

  .sheet-rolltemplate-5e-shaped .sheet-zebra, .charsheet .sheet-zebra {
    background-color: transparent; }

  .sheet-rolltemplate-5e-shaped .sheet-rt-title {
    color: #009999; }

  .sheet-rolltemplate-5e-shaped .sheet-rt-content {
    color: #666; }

  .textchatcontainer .inlinerollresult.fullcrit {
    border: 2px solid transparent;
    color: #3FB315; }

  .textchatcontainer .inlinerollresult.fullfail {
    border: 2px solid transparent;
    color: #B31515; }

  .textchatcontainer .inlinerollresult.importantroll {
    border: 2px solid transparent;
    color: #4A57ED; }

  .sheet-rolltemplate-5e-shaped .sheet-boring-box-top-left, .sheet-rolltemplate-5e-shaped .sheet-boring-box-top-right {
    filter: invert(75%) brightness(25%); }

  .sheet-rolltemplate-5e-shaped .sheet-boring-box-expand-bottom, .sheet-rolltemplate-5e-shaped .sheet-boring-box-expand-top {
    filter: invert(75%) brightness(25%); }

  .sheet-rolltemplate-5e-shaped .sheet-boring-box-expand-left, .sheet-rolltemplate-5e-shaped .sheet-boring-box-expand-right {
    filter: invert(75%) brightness(25%); }

  .sheet-rolltemplate-5e-shaped .sheet-boring-box-bottom-left, .sheet-rolltemplate-5e-shaped .sheet-boring-box-bottom-right {
    filter: invert(75%) brightness(25%); }

  .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable.ui-resizable.ui-dialog-buttons {
    min-width: 250px;
    margin-left: 25px; }

  #page-toolbar {
    height: auto;
    width: 90%;
    left: 5%;
    top: -1px !important; }

  #page-toolbar .handle {
    background-color: #0A0A0A;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.1), 0px 2px 3px 0px #000;
    border: 1px solid #000;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    opacity: 1;
    width: 50px;
    height: 25px;
    line-height: inherit;
    top: 2px !important;
    bottom: -34px !important; }

  #page-toolbar .handle.showtip {
    top: auto !important; }

  #page-toolbar .handle .pictos {
    font-family: inherit;
    color: transparent; }

  #page-toolbar .handle .pictos:before {
    height: 100%;
    width: 100%;
    content: 'Maps';
    color: #999;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px;
    position: relative;
    top: -7px; }

  #page-toolbar .container {
    height: auto;
    max-height: 400px;
    white-space: normal;
    background: #111;
    border: 1px solid #000;
    box-shadow: 0 0 5px 1px #000;
    padding-left: 25px; }

  #page-toolbar .pages .availablepage {
    margin-bottom: 20px; }

  #page-toolbar .container::-webkit-scrollbar {
    width: auto; }

  .abilities .abil {
    background-color: transparent;
    border-bottom-color: #333;
  }

  body {
    background: url("https://i.imgur.com/AU4yGdu.png"); }

  #floatingtoolbar {
    border: none;
    box-shadow: 1px 1px 3px #000;
    width: 45px; }

  #floatingtoolbar li {
    background: #0A0A0A;
    border: 1px solid #000;
    box-shadow: inset 0 1px 0 rgba(100, 100, 100, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #666;
    padding: 10px;
    height: 23px;
    transition: all .2s; }

  #floatingtoolbar li#select {
    padding: 10px !important; }

  #floatingtoolbar li:hover {
    background-color: #151515;
    box-shadow: inset 0 1px 0 rgba(100, 100, 100, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #999;
    transition: all .2s; }

  #floatingtoolbar li.activebutton {
    background: #151515;
    box-shadow: inset 0 1px 0 rgba(100, 100, 100, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #009999; }

  #floatingtoolbar div.submenu {
    top: -25%;
    z-index: -1; }

  #floatingtoolbar div.submenu ul {
    background-color: #151515;
    border: none;
    box-shadow: 1px 1px 3px #000;
    width: 160px;
    padding: 0; }

  #floatingtoolbar div.submenu ul li {
    background: transparent;
    border: 1px solid #000;
    box-shadow: inset 0 1px 0 rgba(100, 100, 100, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1); }

  #floatingtoolbar div.submenu ul li:hover {
    background: #222; }

  #secondary-toolbar {
    background-color: #060606;
    box-shadow: 1px 1px 5px 2px #000;
    border: 1px solid #000;
    opacity: 1;
    top: 21px;
    left: 75px; }

  #secondary-toolbar li {
    border: none;
    padding: 0 5px; }

  #playerzone .player {
    border: 1px solid #000;
    box-shadow: 0 0 5px 2px #000; }

  #playerzone .player .playername {
    background-color: #0A0A0A; }

  #radial-menu .button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    border-radius: 3px; }

  #radial-menu .button div.inner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 3px; }

  #radial-menu .button div.inner span {
    top: 0; }

  #radial-menu .markermenu {
    background-color: #222;
    border: 1px solid #000; }

  #radial-menu .markermenu .markercolor, #radial-menu .markermenu .markericon {
    border: 4px solid #0A0A0A; }

  #radial-menu .markermenu .markercolor.active, #radial-menu .markermenu .markericon.active {
    border: 4px solid #009999; }

  #initiativewindow ul li {
    background-color: transparent;
    border-color: #222; }

  #initiativewindow ul li:first-child {
    background-color: transparent;
    color: #999; }

  #initiativewindow ul li span.name {
    padding-left: 4px; }

  #initiativewindow ul li .controls {
    background-color: #161616;
    color: #009999;
    top: 4px; }

  .no-touch #initiativewindow ul li:hover .controls {
    opacity: 1; }

  .ui-dialog {
    background-color: #111112 !important;
    border: 1px solid #000;
    box-shadow: 0 0 5px 2px #000; }

  .ui-dialog .ui-dialog-titlebar {
    border-color: transparent; }

  .ui-dialog .ui-dialog-title {
    color: #009999; }

  .ui-dialog .ui-dialog-buttonpane {
    background-color: #111;
    border-color: #333;
    box-shadow: inset 0 1px 0 #333; }

  .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button {
    background: #151515;
    border: 1px solid #000;
    box-shadow: inset 0 1px 0 rgba(100, 100, 100, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #999;
    text-shadow: none;
    transition: all .2s; }
  .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button:hover {
    background-color: #1b1b1b;
    box-shadow: inset 0 1px 0 rgba(100, 100, 100, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #999;
    transition: all .2s; }

  .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button:nth-child(2) {
    background: #660000;
    border: 1px solid #000;
    box-shadow: inset 0 1px 0 rgba(100, 100, 100, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #999;
    text-shadow: none;
    transition: all .2s; }
  .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button:nth-child(2):hover {
    background-color: #880000;
    box-shadow: inset 0 1px 0 rgba(100, 100, 100, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #999;
    transition: all .2s; }

  .ui-dialog .ui-dialog-titlebar-close {
    display: flex;
    top: 36%;
    height: 24px;
    width: 24px;
    opacity: 1;
    background: #660000;
    border: 1px solid #000;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: all .2s; }
  .ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus {
    padding: 1px;
    opacity: 1;
    background: #880000;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: all .2s; }

  .ui-dialog-titlebar-close .ui-icon {
    -webkit-filter: invert(50%); }

  .ui-dialog .ui-dialog-titlebar-close span {
    margin: auto; }

  .handouteditor .avatar {
    background-color: #222;
    width: 98%; }

  .dropbox {
    border: 4px solid #333; }

  .dropbox.filled {
    border: 4px solid #333; }

  div.dropbox.filled:hover {
    border: 4px solid #333; }

  .redactor_box .redactor_toolbar {
    border-bottom: 1px solid #000; }

  .nav-tabs {
    border-bottom: 2px solid #222; }

  .nav-tabs li:focus, .nav-tabs li a:focus {
    outline: none; }

  .characterdialog .nav-tabs a {
    color: #999;
    transition: all .2s; }
  .characterdialog .nav-tabs a:hover {
    transition: all .2s; }

  .nav-tabs > li > a:hover {
    background-color: #222;
    border-color: #222; }

  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #222;
    border-color: #222;
    color: #009999 !important; }

  .redactor_editor, .redactor_editor:focus {
    background: transparent !important; }

  .redactor_editor h1,
  .redactor_editor h2,
  .redactor_editor h3,
  .redactor_editor h4,
  .redactor_editor h5,
  .redactor_editor h6 {
    color: #999; }

  .redactor_editor a[href^="http://journal.roll20.net"] {
    color: #009999 !important; }

  .charactereditor .avatar {
    background-color: #222; }

  .dropbox.filled {
    border-color: #333; }

  .tokenslot.filled {
    border: 4px solid #333; }

  div.tokenslot.filled:hover {
    border: 4px solid #333; }

  .tokenslot .remove, .dropbox .remove {
    background-color: #333; }

  .chosen-container-multi .chosen-choices {
    background: #222;
    background-image: none;
    border: 1px solid #000; }

  .chosen-container-multi .chosen-choices li.search-choice {
    background: #151515;
    background-image: none;
    border: 1px solid #000;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    color: #666; }

  .chosen-container .chosen-drop {
    background: #222;
    border: 1px solid #000; }

  .chosen-container .chosen-results li.active-result {
    color: #999; }

  .chosen-container-multi .chosen-drop .result-selected {
    color: #666; }

  .textboxlist-bits {
    background: #222;
    border: 1px solid #000;
    box-shadow: inset 0 0 5px #000; }

  .textboxlist-bit-editable {
    border: none; }

  .textboxlist-bit-box {
    background: #151515;
    border: 1px solid #000;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(0, 0, 0, 0.05); }

  .textboxlist-bit-box-deletebutton {
    -webkit-filter: saturate(0%); }

  .charactereditor .defaulttoken {
    background-color: #222; }

  .tokenslot, .tokenslot.filled {
    border-color: #333; }

  .redactor_box {
    background-color: #222;
    border: 1px solid #000; }

  .redactor_toolbar {
    background: linear-gradient(to bottom, #222 0, #191919 94%, #161616 94%, #111 100%); }

  .redactor_toolbar li.redactor_separator {
    border-right: 1px solid #000;
    border-left: 1px solid #292929; }

  .redactor_toolbar li a {
    -webkit-filter: invert(100%); }
  .redactor_toolbar li a:hover {
    background-color: #eee;
    border-color: #eee; }

  .note-editor.note-frame {
    border: 1px solid #000; }

  .note-editor .panel-default > .panel-heading {
    background-color: #111;
    border-color: #000; }

  .note-btn-group .btn {
    background-image: -webkit-linear-gradient(top, #222, #111);
    border: 1px solid #000 !important;
    color: #999;
    text-shadow: none; }
  .note-btn-group .btn:hover {
    background-color: #1b1b1b; }

  .note-editor.note-frame .note-editing-area .note-editable {
    background-color: #222;
    color: #666; }

  .note-editor.note-frame .note-statusbar {
    background-color: #222; }

  .charsheet .sheet-container {
    background: transparent; }

  .charsheet .sheet-red, .charsheet .sheet-npc .sheet-display .sheet-red input, .charsheet .sheet-npc .sheet-display .sheet-red span {
    color: #666; }

  .charsheet .sheet-npc .sheet-display .sheet-title span {
    color: #009999; }

  div.sheet-licensecontainer div.sheet-npc div.sheet-triangle, div.sheet-triangle {
    border-left-color: #006666; }

  .charsheet .sheet-npc .sheet-display input, .charsheet .sheet-npc .sheet-reaction input {
    color: #999; }

  .charsheet .sheet-npc .sheet-display .sheet-traits textarea, .charsheet .sheet-npc .sheet-reaction textarea, .charsheet .sheet-attack textarea {
    background: transparent; }

  .charsheet .repcontrol {
    min-height: 50px; }

  .charsheet button.btn.repcontrol_add {
    color: transparent !important;
    width: 35px;
    height: 30px;
    padding: 0;
    transition: all .2s;
    overflow: hidden; }

  .charsheet .repcontrol .repcontrol_add:before {
    padding: 6px 10px 6px;
    color: #999 !important;
    background: #151515;
    box-shadow: inset 0 1px 0 rgba(100, 100, 100, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: all .2s;
    cursor: pointer;
    margin-left: 3px; }

  .charsheet button.btn.repcontrol_edit {
    color: transparent !important;
    height: 30px;
    width: 35px;
    overflow: hidden;
    padding: 0;
    cursor: auto;
    transition: all .2s; }

  .charsheet .repcontrol .repcontrol_edit:after {
    padding: 6px 10px 6px;
    color: #999 !important;
    background: #151515;
    box-shadow: inset 0 1px 0 rgba(100, 100, 100, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-left: -42px;
    transition: all .2s; }

  .charsheet .repcontrol .repcontrol_edit:hover:after, .charsheet .repcontrol .repcontrol_add:hover:before {
    background-color: #222;
    box-shadow: inset 0 1px 0 rgba(100, 100, 100, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: all .2s; }

  .charsheet .sheet-npc .sheet-actions .sheet-title {
    color: #999; }

  .charsheet .sheet-npc .sheet-actiontitle {
    border-color: #009999; }

  .charsheet .sheet-npc button[type=roll] {
    color: #666;
    line-height: 16px; }

  .charsheet button[type=roll]:hover, .charsheet button[type=roll]:hover *, .charsheet .sheet-spell button[type=roll]:hover input[type=text], .charsheet .sheet-action .sheet-display button[type=roll]:hover * {
    color: #999; }

  .charsheet .sheet-npc .sheet-npc_options {
    border-bottom: none;
    border-top: 2px solid #222; }

  .charsheet .sheet-npc .sheet-npc_options input {
    color: #666;
    border-bottom: 1px solid #333; }

  .charsheet .sheet-npc .sheet-npc_options-flag:checked + span {
    color: #999;
    top: 5px; }

  .charsheet .sheet-npc .sheet-action textarea, .charsheet .sheet-pc .sheet-globalattack textarea {
    background: #222;
    border: 1px solid #000;
    box-shadow: inset 0 0 5px #000;
    color: #666; }

  .charsheet .sheet-npc .sheet-npc_options input[type=checkbox] {
    background: #222;
    box-shadow: none;
    -webkit-appearance: none;
    height: 14px;
    width: 14px !important;
    margin: 5px 0 6px 0;
    border: 1px solid #000;
    border-radius: 2px; }
  .charsheet .sheet-npc .sheet-npc_options input[type=checkbox]:focus {
    outline: none; }

  .charsheet .sheet-npc .sheet-npc_options input[type=checkbox]:checked {
    background: #006666; }

  .charsheet .sheet-npc select {
    border-bottom: 1px solid #333;
    color: #666; }

  .charsheet .sheet-npc .sheet-npc_options input::placeholder {
    color: #333; }

  .sheet-npcspell .sheet-warning, .sheet-npcspell .sheet-spell-container {
    display: none; }

  .charsheet .sheet-npc .sheet-actions {
    min-height: 15px; }

  .charsheet .sheet-level span {
    top: -1px;
    margin-left: -4px;
    color: #999; }

  .charsheet .sheet-level:before {
    border-left-color: #000; }

  .charsheet .sheet-level:after {
    border-left-color: #191919; }

  .charsheet .sheet-spell-level .sheet-total {
    width: 120px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: #0c0c0c;
    display: inline-flex;
    align-items: center; }
  .charsheet .sheet-spell-level .sheet-total span {
    top: 1px;
    margin-top: 0; }

  .charsheet .sheet-spell-level .sheet-expended {
    width: 120px;
    margin-left: -5px;
    background: #0c0c0c;
    display: inline-flex;
    align-items: center;
    justify-content: center; }
  .charsheet .sheet-spell-level .sheet-expended input {
    color: #666; }

  .charsheet .sheet-cantrips {
    background: #0c0c0c; }

  .charsheet .sheet-spell .sheet-display button[type=roll] {
    color: #666;
    border-color: #333; }

  .charsheet button[type=roll]:hover * {
    color: #999; }

  .charsheet span.sheet-spellritual, .charsheet span.sheet-spellconcentration {
    background: #999;
    color: #111; }

  .charsheet .sheet-spell .sheet-prep {
    background: #333; }

  .charsheet .sheet-spell input[value="1"] ~ span.sheet-prep {
    background: #009999; }

  .charsheet .sheet-spell .sheet-options-flag:checked + span {
    color: #999; }

  .charsheet .sheet-spell .sheet-options {
    border-top: none; }

  .charsheet .sheet-options .sheet-row > span {
    color: #666; }

  .charsheet .sheet-tool .sheet-options input, .charsheet .sheet-attack .sheet-options input[type=text], .charsheet .sheet-spell .sheet-options input[type=text], .charsheet .sheet-options .sheet-body input[type=text], .charsheet .sheet-proficiencies .sheet-options input[type=text], .charsheet .sheet-traits .sheet-options input[type=text], .charsheet .sheet-globalattack input[type=text] {
    border-color: #333;
    color: #666; }

  .charsheet .sheet-tool .sheet-options select, .charsheet .sheet-attack .sheet-options select, .charsheet .sheet-spell .sheet-options select, .charsheet .sheet-options .sheet-body select, .charsheet .sheet-proficiencies .sheet-options select, .charsheet .sheet-traits .sheet-options select {
    border-color: #333;
    color: #666; }

  .charsheet .sheet-spell .sheet-options input[type=checkbox] {
    background: #222;
    box-shadow: none;
    -webkit-appearance: none;
    height: 14px;
    width: 14px !important;
    margin: 5px 0 6px 0;
    border: 1px solid #000;
    border-radius: 2px; }
  .charsheet .sheet-spell .sheet-options input[type=checkbox]:focus {
    outline: none; }
  .charsheet .sheet-spell .sheet-options input[type=checkbox]:checked {
    background: #009999; }

  .charsheet .sheet-spell .sheet-options textarea {
    background: #222;
    border: 1px solid #000;
    box-shadow: inset 0 0 5px #000;
    color: #666; }

  .charsheet {
    color: #666; }

  .charsheet .sheet-attr-container button[type=roll], .charsheet .sheet-saving-throw button[type=roll], .charsheet .sheet-skill button[type=roll], .charsheet .sheet-ac-init-speed-container button[type=roll], .charsheet .sheet-subcontainer button[type=roll] {
    color: #666; }
  .charsheet .sheet-attr-container button[type=roll]:hover, .charsheet .sheet-saving-throw button[type=roll]:hover, .charsheet .sheet-skill button[type=roll]:hover, .charsheet .sheet-ac-init-speed-container button[type=roll]:hover, .charsheet .sheet-subcontainer button[type=roll]:hover {
    color: #009999; }

  .charsheet .sheet-insp-prof-container .sheet-value input, .charsheet .sheet-saving-throw input[type=text], .charsheet .sheet-skill input[type=text], .charsheet .sheet-ac-init-speed-container input, .charsheet .sheet-hp input, .charsheet .sheet-hdice-dsaves-container input[type=text], .charsheet .sheet-hdice-dsaves-container input[type=number], .charsheet .sheet-attacks input, .charsheet .sheet-equipment input, .charsheet .sheet-tool input, .charsheet .sheet-proficiencies input, .charsheet .sheet-pc .sheet-traits input, .charsheet .sheet-spell input, .charsheet .sheet-options .sheet-body input, .charsheet .sheet-resources input[type=number] {
    color: #666; }

  div.sheet-licensecontainer div.sheet-page.sheet-core > div.sheet-header, div.sheet-licensecontainer div.sheet-page.sheet-options > div.sheet-header, div.sheet-licensecontainer div.sheet-page.sheet-bio > div.sheet-header, div.sheet-licensecontainer div.sheet-page.sheet-spells > div.sheet-header {
    -webkit-filter: invert(90%) brightness(50%); }

  .charsheet .sheet-advantagetoggle input[type=radio] + span, .charsheet input[type=radio].sheet-tab-button + span {
    background-color: transparent;
    color: #999; }

  .charsheet .sheet-advantagetoggle input[type=radio]:checked + span, .charsheet input[type=radio].sheet-tab-button:checked + span {
    background-color: #006666;
    color: #ccc; }

  .charsheet .sheet-attr-container {
    border: 1px solid #222; }

  .charsheet .sheet-attr-mod {
    background-color: #0c0c0c;
    border-color: #0c0c0c; }

  .charsheet .sheet-attr-container input {
    color: #999; }

  .charsheet .sheet-insp-prof-container .sheet-label {
    border: 1px solid #222; }

  .charsheet .sheet-insp-prof-container .sheet-value {
    background-color: #0c0c0c;
    border-color: #222; }

  .charsheet .sheet-insp-prof-container .sheet-value input[type=checkbox] ~ span {
    -webkit-filter: invert(50%);
    height: 85%;
    width: 85%;
    top: 3px;
    left: 3px; }

  .charsheet .sheet-saving-throw-container, .charsheet .sheet-skills-container {
    border: 1px solid #222; }

  .charsheet .sheet-skill button span, .charsheet .sheet-options .sheet-body .sheet-skill span span, .sheet-rolltemplate-spell .sheet-grey {
    color: #444 !important; }

  .sheet-saving-throw {
    padding-left: 5px; }

  .ui-dialog .charsheet .sheet-saving-throw input {
    height: 14px;
    width: 14px !important;
    margin: 4px 0 6px 0; }

  .sheet-skill {
    padding-left: 5px; }

  .ui-dialog .charsheet .sheet-skill input {
    height: 14px;
    width: 14px !important;
    margin: 4px 0 6px 0; }

  .charsheet .sheet-ac-init-speed-container div {
    border: 1px solid #222;
    height: 45px; }

  .charsheet .sheet-init span {
    line-height: 30px; }

  .charsheet .sheet-hp, .charsheet .sheet-subcontainer, .charsheet .sheet-attacks, .charsheet .sheet-equipment {
    border: 1px solid #222; }

  .charsheet .sheet-hp .sheet-top input, .charsheet .sheet-hdice-dsaves-container .sheet-top input[type=text] {
    border-bottom: 1px solid #222;
    color: #999; }

  .charsheet .sheet-hdice-dsaves-container .sheet-row-container {
    margin-top: 0; }

  .ui-dialog .charsheet .sheet-row-container input {
    height: 14px;
    width: 14px !important;
    margin: 3px 0 3.5px 0; }

  .charsheet .sheet-textbox-container, .charsheet .sheet-tool_proficiencies {
    border: 1px solid #222; }

  .charsheet .sheet-proficiencies .repcontrol .repcontrol_edit:after {
    margin-left: -34px; }

  .charsheet .sheet-attacks .sheet-display input, .charsheet .sheet-tool .sheet-display input, .charsheet .sheet-equipment .sheet-item input, .charsheet .sheet-attacks .sheet-display span, .charsheet .sheet-tool .sheet-display span, .charsheet .sheet-equipment .sheet-item span, .charsheet .sheet-proficiencies .sheet-display span {
    background: transparent; }

  .charsheet .sheet-attacks .sheet-display button[type=roll], .charsheet .sheet-tool .sheet-display button[type=roll], .charsheet .sheet-proficiency .sheet-display button[type=roll] {
    background: #0c0c0c;
    display: flex;
    margin: auto;
    border-top: 1px solid #222;
    border-radius: 0;
    padding: 5px;
    color: #666;
    transition: all .2s; }

  .charsheet .sheet-display button[type=roll]:hover * {
    color: #009999;
    transition: all .2s; }

  .charsheet .sheet-tool .sheet-options-flag + span, .charsheet .sheet-proficiencies .sheet-options-flag + span, .charsheet .sheet-attacks .sheet-options-flag + span {
    top: 10px; }

  .charsheet .sheet-tool .sheet-options-flag:checked + span, .charsheet .sheet-proficiencies .sheet-options-flag:checked + span, .charsheet .sheet-attacks .sheet-options-flag:checked + span {
    color: #999; }

  .charsheet .sheet-tool .sheet-options, .charsheet .sheet-proficiencies .sheet-options, .charsheet .sheet-attack .sheet-options {
    border: none; }

  .charsheet .sheet-attack .sheet-options input[type=checkbox] {
    background: #222;
    box-shadow: none;
    -webkit-appearance: none;
    height: 14px;
    width: 14px !important;
    margin: 3px 0 4px 0;
    border: 1px solid #000;
    border-radius: 2px; }
  .charsheet .sheet-attack .sheet-options input[type=checkbox]:focus {
    outline: none; }
  .charsheet .sheet-attack .sheet-options input[type=checkbox]:checked {
    background: #006666; }

  .charsheet .sheet-coin {
    background-color: #0c0c0c;
    border: 1px solid #222; }

  .charsheet .sheet-equipment span img {
    -webkit-filter: invert(50%); }

  .charsheet .sheet-equipment .sheet-item .sheet-subitem .sheet-equipped {
    background: #222;
    box-shadow: none;
    -webkit-appearance: none;
    height: 14px;
    width: 14px !important;
    margin: 0px 5px;
    border: 1px solid #000;
    border-radius: 2px; }
  .charsheet .sheet-equipment .sheet-item .sheet-subitem .sheet-equipped:focus {
    outline: none; }
  .charsheet .sheet-equipment .sheet-item .sheet-subitem .sheet-equipped:checked {
    background: #006666; }

  .charsheet .sheet-equipment .repcontrol .repcontrol_edit:after {
    margin-left: -35px; }

  .charsheet .sheet-textbox {
    border: 1px solid #222; }

  .charsheet .sheet-textbox .sheet-options {
    border: none; }

  .charsheet .sheet-textbox textarea {
    background: #111; }

  .charsheet .sheet-traits .sheet-display .sheet-title {
    color: #009999; }

  input.sheet-display-flag {
    width: 100% !important; }

  .charsheet .sheet-traits .repcontrol .repcontrol_edit:after {
    margin-left: -35px; }

  .charsheet .sheet-attacks .sheet-options-flag:checked + span, .charsheet .sheet-spell .sheet-options-flag:checked + span, .charsheet .sheet-tool .sheet-options-flag:checked + span, .charsheet .sheet-npc .sheet-npc_options-flag:checked + span, .charsheet .sheet-trait .sheet-options-flag:checked + span, .charsheet .sheet-action .sheet-options-flag:checked + span, .charsheet .sheet-textbox .sheet-options-flag:checked + span, .charsheet .sheet-proficiencies .sheet-options-flag:checked + span, .charsheet .sheet-traits .sheet-options-flag:checked + span, .charsheet .sheet-equipment .sheet-inventorysubflag:checked + span {
    color: #999; }

  .charsheet .sheet-traits .sheet-display .sheet-subheader, .charsheet .sheet-hp .sheet-top span, .charsheet .sheet-hdice-dsaves-container .sheet-top span, .charsheet .sheet-attacks .sheet-top span, .charsheet .sheet-tool_proficiencies .sheet-top span, .charsheet .sheet-proficiencies .sheet-top span, .charsheet .sheet-traits .sheet-top span {
    color: #666; }

  .charsheet {
    background: transparent; }

  .charsheet .sheet-wrapper {
    margin-left: 0;
    margin-right: 0; }

  .charsheet .btn {
    color: #666; }

  .charsheet button[type=roll]:hover * {
    color: #009999 !important;
    transition: all .2s; }

  .charsheet .sheet-character-header {
    background: none; }

  .charsheet .sheet-character-header:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url("http://imgsrv.roll20.net/?src=cdn.rawgit.com/mlenser/6029d0d0ff53cb5a934a0c9222f3c390/raw/855cdd0e1e8789f15ce03908b82ca584580aad05/topRibbonBackground.svg") no-repeat;
    -webkit-filter: invert(90%) brightness(50%); }

  .charsheet .sheet-character-name {
    background: none; }

  .charsheet .sheet-character-name:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 68px;
    max-width: 310px;
    min-width: 170px;
    margin-top: -12px;
    margin-left: -20px;
    background: url("http://imgsrv.roll20.net/?src=cdn.rawgit.com/mlenser/6029d0d0ff53cb5a934a0c9222f3c390/raw/e22ac446a0abb681c535a704abc4a6f7244df2ed/nameRibbon.svg") no-repeat;
    filter: invert(75%) brightness(25%);
    z-index: -1; }

  .charsheet .sheet-grid-box {
    z-index: -1; }

  .charsheet .sheet-pointy-end-box-bottom-left, .charsheet .sheet-pointy-end-box-bottom-right, .charsheet .sheet-pointy-end-box-top-left, .charsheet .sheet-pointy-end-box-top-right {
    filter: invert(75%) brightness(25%); }

  .charsheet .sheet-pointy-end-box-expand-bottom, .charsheet .sheet-pointy-end-box-expand-top {
    filter: invert(75%) brightness(25%); }

  .charsheet .sheet-pointy-end-box-expand-left, .charsheet .sheet-pointy-end-box-expand-right {
    filter: invert(75%) brightness(25%); }

  .sheet-header-info .sheet-box-inner {
    color: #999; }

  .charsheet .sheet-right-ribbon {
    background: none; }

  .charsheet .sheet-right-ribbon:before {
    content: '';
    position: absolute;
    width: 27px;
    height: 57px;
    background: url("http://imgsrv.roll20.net/?src=cdn.rawgit.com/mlenser/6029d0d0ff53cb5a934a0c9222f3c390/raw/e22ac446a0abb681c535a704abc4a6f7244df2ed/rightRibbon.svg") no-repeat;
    filter: invert(75%) brightness(25%); }

  .charsheet .sheet-border-bottom {
    border-bottom: 1px solid #444 !important; }

  .charsheet .sheet-4-rem, .charsheet .sheet-7-rem {
    width: auto; }

  .charsheet .sheet-character-name input[type=text], .charsheet .sheet-header-info input[type=text], .charsheet .sheet-header-info input[type=number], .charsheet .sheet-header-info select {
    color: #999; }

  .charsheet .sheet-classes-select-wrapper {
    background: transparent; }

  .charsheet .sheet-header-info .sheet-1-rem {
    width: auto;
    padding-left: 3px;
    margin-top: 1px; }

  .charsheet .sheet-border-top {
    border-top: 1px solid #444; }

  .charsheet input, .charsheet select, .charsheet textarea {
    color: #666; }

  .charsheet input[type="number"], .charsheet input[type="text"], .charsheet select, .charsheet textarea {
    min-height: 16px; }

  .charsheet .sheet-bubble-radio-clear:checked ~ .sheet-bubble-radio + .sheet-bubble, .charsheet .sheet-bubble-radio:checked ~ .sheet-bubble-radio + .sheet-bubble {
    background-color: #222; }

  .charsheet .sheet-bubble {
    background-color: #009999; }

  .charsheet .sheet-medium-checkbox, .charsheet .sheet-small-checkbox {
    width: 14px !important;
    height: 14px !important;
    margin-top: 0px;
    margin-left: -2px; }

  .sheet-textarea-checkbox {
    min-height: 35px !important; }

  .charsheet .sheet-wrap-box-title {
    text-shadow: none; }

  .charsheet .sheet-pseudo-button-wrapper > span {
    background-color: #111;
    border: 1px solid #000;
    color: #999; }

  .charsheet .sheet-pseudo-button-wrapper.sheet-page input:checked + span, .charsheet .sheet-pseudo-button-wrapper.sheet-page input:checked + span + span, .charsheet .sheet-pseudo-button-wrapper input:checked + span {
    background-color: #006666 !important;
    color: #ccc; }

  .sheet-nav .sheet-pseudo-button-wrapper > span {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase; }

  .sheet-nav .sheet-pseudo-button-wrapper > span.sheet-pictos {
    text-transform: none;
    font-size: 14px; }

  .charsheet input[class^=sheet-toggle-edit-mode]:checked + span[class^=sheet-toggle-edit-mode], .charsheet input[class^=sheet-toggle-icon]:checked + span[class^=sheet-toggle-icon] {
    color: #009999; }

  .charsheet input.sheet-toggle-filter-condense[value="0"] ~ div .repitem {
    margin-bottom: 15px; }

  .charsheet .sheet-abilities-background {
    background: none;
    padding-top: 0; }

  .charsheet .sheet-ability-wrapper {
    background: none; }

  .charsheet .sheet-ability-wrapper:before {
    content: '';
    position: absolute;
    background: url(http://imgsrv.roll20.net/?src=cdn.rawgit.com/mlenser/6029d0d0ff53cb5a934a0c9222f3c390/raw/a9f61604d33622b4509ac65928fe2423754c14b3/ability.svg) no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
    margin-top: -5px;
    margin-left: -5px;
    -webkit-filter: invert(75%) brightness(30%); }

  .charsheet button[type=roll].btn:not(.sheet-visible-button):hover, .charsheet button[type=roll].btn:not(.sheet-visible-button):hover .sheet-light-label, .charsheet button[type=roll].btn:not(.sheet-visible-button):hover input, .charsheet button[type=roll].btn:not(.sheet-visible-button):hover span {
    color: #009999 !important; }

  .charsheet .sheet-inspiration {
    background: none; }

  .charsheet .sheet-inspiration:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("http://imgsrv.roll20.net/?src=cdn.rawgit.com/mlenser/6029d0d0ff53cb5a934a0c9222f3c390/raw/9e301f3bdf16cfb73e0caf91998eaa317cbd783a/inspiration.svg") no-repeat;
    -webkit-filter: invert(75%) brightness(30%);
    z-index: -1; }

  .charsheet .sheet-proficiency-bonus {
    background: none; }

  .charsheet .sheet-proficiency-bonus:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(http://imgsrv.roll20.net/?src=cdn.rawgit.com/mlenser/6029d0d0ff53cb5a934a0c9222f3c390/raw/9e301f3bdf16cfb73e0caf91998eaa317cbd783a/proficiencyBonus.svg) no-repeat;
    -webkit-filter: invert(75%) brightness(30%); }

  .sheet-grid-box.sheet-very-styled-box {
    filter: invert(75%) brightness(30%); }

  .charsheet .sheet-round-checkbox-wrapper .sheet-pseudo-circle {
    background: #222;
    border: 1px solid #000; }

  .charsheet .sheet-round-checkbox-wrapper input:checked + .sheet-pseudo-circle {
    background-color: #006666; }

  .charsheet .sheet-skill-proficiency[value=proficient] + span {
    background-color: #006666; }

  .charsheet .sheet-saving-throw .sheet-round-checkbox-wrapper .sheet-pseudo-circle {
    margin-top: 1px; }

  .charsheet .sheet-skill .sheet-round-checkbox-wrapper .sheet-pseudo-circle {
    margin-top: 2px; }

  .charsheet .sheet-input-like {
    border-bottom: none !important; }

  .charsheet .sheet-skill button span, .charsheet .sheet-options .sheet-body .sheet-skill span span, .sheet-rolltemplate-spell .sheet-grey {
    color: #666 !important;
    transition: all .2s; }
  .charsheet .sheet-skill button span:hover, .charsheet .sheet-options .sheet-body .sheet-skill span span:hover, .sheet-rolltemplate-spell .sheet-grey:hover {
    color: #009999 !important; }

  .charsheet .sheet-mar-l-sm {
    margin-top: 2px; }

  .charsheet .sheet-skill-roll-select {
    width: 13px;
    margin-left: -15px; }

  .charsheet .sheet-shaped-row .sheet-skill input {
    height: auto !important;
    width: auto !important;
    margin: 0 !important; }

  .charsheet .sheet-indented-box-bottom-left, .charsheet .sheet-indented-box-bottom-right, .charsheet .sheet-indented-box-top-left, .charsheet .sheet-indented-box-top-right {
    filter: invert(75%) brightness(25%); }

  .charsheet .sheet-indented-box-expand-bottom, .charsheet .sheet-indented-box-expand-top {
    filter: invert(75%) brightness(25%); }

  .charsheet .sheet-indented-box-expand-left, .charsheet .sheet-indented-box-expand-right {
    filter: invert(75%) brightness(25%); }

  .charsheet .sheet-conditions-wrapper .sheet-round-checkbox-wrapper input:checked + .sheet-pseudo-circle {
    background-color: #006666; }

  .charsheet .sheet-conditions .sheet-round-checkbox-wrapper .sheet-pseudo-circle {
    margin-top: 3px; }

  .charsheet .sheet-exhaustion-wrapper {
    background: none; }
  .charsheet .sheet-exhaustion-wrapper:before {
    content: '';
    position: absolute;
    width: 120px;
    height: 46px;
    background: url("http://imgsrv.roll20.net/?src=cdn.rawgit.com/mlenser/6029d0d0ff53cb5a934a0c9222f3c390/raw/1ac8ac8fb0d599e61603ef726d339ecb1a177cf6/triangeFlag.svg") no-repeat;
    filter: invert(75%) brightness(25%); }

  .charsheet .sheet-gray-background-wrapper {
    background-color: transparent;
    padding: 0; }

  .charsheet .sheet-gray-background-bottom-left, .charsheet .sheet-gray-background-bottom-right, .charsheet .sheet-gray-background-top-left, .charsheet .sheet-gray-background-top-right {
    display: none; }

  .charsheet .sheet-shield {
    background: none; }

  .charsheet .sheet-shield:before {
    content: '';
    position: absolute;
    width: 64px;
    height: 74px;
    z-index: -1;
    background: url("http://imgsrv.roll20.net/?src=cdn.rawgit.com/mlenser/6029d0d0ff53cb5a934a0c9222f3c390/raw/7cd31246e95b8c773cb40f6cbf59764db0cc2bcd/ac.svg") no-repeat;
    filter: invert(75%) brightness(30%); }

  .charsheet .sheet-shield .sheet-wrap-box-title {
    width: 100%; }

  .charsheet .sheet-heart {
    background: none; }

  .charsheet .sheet-heart:before {
    content: '';
    position: absolute;
    width: 70px;
    height: 66px;
    background: url("http://imgsrv.roll20.net/?src=cdn.rawgit.com/mlenser/6029d0d0ff53cb5a934a0c9222f3c390/raw/467445dc8cfd7e13bdaab72e650c5eb656d00025/heart.svg") no-repeat;
    filter: invert(75%) brightness(25%);
    z-index: -1; }

  .charsheet .sheet-max-hp-wrapper, .charsheet .sheet-temp-hp-wrapper {
    background-color: #222; }

  .charsheet .sheet-death-saving-throws, .charsheet .sheet-hit-dice, .charsheet .sheet-initiative, .charsheet .sheet-rest, .charsheet .sheet-speed {
    background: none; }

  .charsheet .sheet-death-saving-throws:before, .charsheet .sheet-hit-dice:before, .charsheet .sheet-initiative:before, .charsheet .sheet-rest:before, .charsheet .sheet-shaped-row .sheet-speed:before {
    content: '';
    position: absolute;
    width: 70px;
    height: 66px;
    background: url("http://imgsrv.roll20.net/?src=cdn.rawgit.com/mlenser/6029d0d0ff53cb5a934a0c9222f3c390/raw/5d6c848acb8934d340368d0786ccafea5c53fdda/box.svg") no-repeat;
    filter: invert(75%) brightness(25%);
    z-index: -1;
    margin-bottom: -4px; }

  .sheet-hit-dice .sheet-center span:last-of-type {
    padding-right: 3px; }

  .charsheet .sheet-death-saving-throws {
    padding: 4px 6px; }

  .charsheet .sheet-death-successes .sheet-bubble {
    background-color: #009999; }

  .sheet-rest label span {
    text-transform: capitalize; }

  .charsheet .sheet-mar-b-md {
    margin-bottom: 4px; }

  .charsheet .sheet-mar-t-smd {
    margin-top: 8px; }

  .sheet-mar-b-md .sheet-pseudo-button-wrapper, .sheet-mar-t-smd .sheet-psuedo-button-wrapper {
    margin: 0; }

  .charsheet .sheet-rest .sheet-pseudo-button-wrapper input:checked + span {
    background-color: #151515 !important;
    color: #999; }
  .charsheet .sheet-rest .sheet-pseudo-button-wrapper input:checked + span:hover {
    background-color: #1b1b1b !important; }

  .charsheet .sheet-death-saving-throws-proficiency-wrapper .sheet-round-checkbox-wrapper span {
    background-color: #666;
    margin-top: -13px; }

  .charsheet .sheet-boring-box-top-left, .charsheet .sheet-boring-box-top-right {
    filter: invert(75%) brightness(25%); }

  .charsheet .sheet-boring-box-expand-bottom, .charsheet .sheet-boring-box-expand-top {
    filter: invert(75%) brightness(25%); }

  .charsheet .sheet-boring-box-expand-left, .charsheet .sheet-boring-box-expand-right {
    filter: invert(75%) brightness(25%); }

  .charsheet .sheet-box-middle {
    background-color: #111; }

  .charsheet .sheet-boring-box-bottom-left, .charsheet .sheet-boring-box-bottom-right {
    filter: invert(75%) brightness(25%); }

  .sheet-attack > div > span, .sheet-saving-throw > div > span {
    margin-bottom: 5px; }

  .sheet-attack.sheet-edit .sheet-pad-t-sm .sheet-pseudo-circle {
    margin-top: 1px; }

  .charsheet .sheet-shaped-row .sheet-saving-throw input {
    margin: 0;
    height: auto;
    width: 100% !important; }

  .charsheet .sheet-modifier-long {
    background: none; }

  .charsheet .sheet-modifier-long:before {
    content: '';
    position: absolute;
    display: block;
    width: 70px;
    height: 30px;
    background: url("http://imgsrv.roll20.net/?src=cdn.rawgit.com/mlenser/6029d0d0ff53cb5a934a0c9222f3c390/raw/02668ef9fd839d986c83dcfaec139dda5bb9dbf0/modifierLong.svg") no-repeat;
    filter: invert(75%) brightness(25%);
    z-index: -1;
    margin-left: -2px;
    margin-top: -2px; }

  .charsheet .sheet-modifier-short {
    background: none; }

  .charsheet .sheet-modifier-short:before {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 30px;
    background: url("http://imgsrv.roll20.net/?src=cdn.rawgit.com/mlenser/6029d0d0ff53cb5a934a0c9222f3c390/raw/02668ef9fd839d986c83dcfaec139dda5bb9dbf0/modifierShort.svg") no-repeat;
    filter: invert(75%) brightness(25%);
    z-index: -1;
    margin-left: -2px;
    margin-top: -2px; }

  .charsheet .sheet-spells span[class^=sheet-toggle-] {
    background-color: #222;
    color: #999; }

  .charsheet .sheet-spells .sheet-prepared-matters input:checked + span, .charsheet .sheet-spells input.sheet-toggle-concentration:checked + span.sheet-toggle-concentration, .charsheet .sheet-spells input.sheet-toggle-ritual:checked + span.sheet-toggle-ritual, .charsheet .sheet-spells input[class^=sheet-toggle-filter]:checked + span[class^=sheet-toggle-filter], .charsheet .sheet-spells input[class^=sheet-toggle-spells-filter]:checked + span[class^=sheet-toggle-spells-filter] {
    background-color: #006666;
    color: #ccc; }

  .charsheet .sheet-spell-level-title-background-left {
    filter: invert(75%) brightness(25%); }

  .charsheet .sheet-spell-level-title-background-expand {
    filter: invert(75%) brightness(25%); }

  .charsheet .sheet-spell-level-title-background-left-no-number, .charsheet .sheet-spell-level-title-background-right {
    filter: invert(75%) brightness(25%); }

  .sheet-spells .sheet-round-checkbox-wrapper .sheet-pseudo-circle {
    margin-top: 0; }

  .charsheet .sheet-spell-name {
    color: #666; }

  .charsheet input.sheet-toggle-prepared-matters[value='1'] ~ .sheet-section-character input.sheet-toggle-prepared:not([value=Yes]) ~ div .sheet-spell-name, .charsheet input.sheet-toggle-prepared-matters[value='1'] ~ .sheet-section-npc input.sheet-toggle-prepared:not([value=Yes]) ~ div .sheet-spell-name {
    color: #666; }

  .sheet-spells-wrap .sheet-shaped-row.sheet-edit {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #444; }

  .sheep-shaped-row .sheet-equipment {
    border: none; }

  .charsheet .sheet-very-boring-box-bottom-left, .charsheet .sheet-very-boring-box-bottom-right, .charsheet .sheet-very-boring-box-top-left, .charsheet .sheet-very-boring-box-top-right {
    filter: invert(75%) brightness(25%); }

  .charsheet .sheet-very-boring-box-expand-bottom, .charsheet .sheet-very-boring-box-expand-top {
    filter: invert(75%) brightness(25%); }

  .charsheet .sheet-very-boring-box-expand-left, .charsheet .sheet-very-boring-box-expand-right {
    filter: invert(75%) brightness(25%); }

  .charsheet .sheet-currency-border[value=COPPER] ~ .sheet-currency {
    background: none; }

  .charsheet .sheet-currency-border[value=COPPER] ~ .sheet-currency:before {
    content: '';
    position: absolute;
    width: 73px;
    height: 30px;
    background: url("http://imgsrv.roll20.net/?src=cdn.rawgit.com/mlenser/6029d0d0ff53cb5a934a0c9222f3c390/raw/cace63afe01487a41f778e2139cd4d8fa41f4bc2/copper.svg") no-repeat;
    filter: invert(75%) brightness(25%);
    z-index: -1;
    margin-left: -2px;
    margin-top: 1px; }

  .charsheet .sheet-currency-border[value=SILVER] ~ .sheet-currency {
    background: none; }

  .charsheet .sheet-currency-border[value=SILVER] ~ .sheet-currency:before {
    content: '';
    position: absolute;
    width: 73px;
    height: 30px;
    background: url("http://imgsrv.roll20.net/?src=cdn.rawgit.com/mlenser/6029d0d0ff53cb5a934a0c9222f3c390/raw/cace63afe01487a41f778e2139cd4d8fa41f4bc2/silver.svg") no-repeat;
    filter: invert(75%) brightness(25%);
    z-index: -1;
    margin-left: -2px;
    margin-top: 1px; }

  .charsheet .sheet-currency-border[value=ELECTRUM] ~ .sheet-currency {
    background: none; }

  .charsheet .sheet-currency-border[value=ELECTRUM] ~ .sheet-currency:before {
    content: '';
    position: absolute;
    width: 73px;
    height: 30px;
    background: url("http://imgsrv.roll20.net/?src=cdn.rawgit.com/mlenser/6029d0d0ff53cb5a934a0c9222f3c390/raw/cace63afe01487a41f778e2139cd4d8fa41f4bc2/electrum.svg") no-repeat;
    filter: invert(75%) brightness(25%);
    z-index: -1;
    margin-left: -2px;
    margin-top: 1px; }

  .charsheet .sheet-currency-border[value=GOLD] ~ .sheet-currency {
    background: none; }

  .charsheet .sheet-currency-border[value=GOLD] ~ .sheet-currency:before {
    content: '';
    position: absolute;
    width: 73px;
    height: 30px;
    background: url("http://imgsrv.roll20.net/?src=cdn.rawgit.com/mlenser/6029d0d0ff53cb5a934a0c9222f3c390/raw/cace63afe01487a41f778e2139cd4d8fa41f4bc2/gold.svg") no-repeat;
    filter: invert(75%) brightness(25%);
    z-index: -1;
    margin-left: -2px;
    margin-top: 1px; }

  .charsheet .sheet-currency-border[value=PLATINUM] ~ .sheet-currency {
    background: none; }

  .charsheet .sheet-currency-border[value=PLATINUM] ~ .sheet-currency:before {
    content: '';
    position: absolute;
    width: 73px;
    height: 30px;
    background: url("http://imgsrv.roll20.net/?src=cdn.rawgit.com/mlenser/6029d0d0ff53cb5a934a0c9222f3c390/raw/cace63afe01487a41f778e2139cd4d8fa41f4bc2/platinum.svg") no-repeat;
    filter: invert(75%) brightness(25%);
    z-index: -1;
    margin-left: -2px;
    margin-top: 1px; }

  .charsheet .sheet-modifier {
    background: none; }

  .charsheet .sheet-modifier:before {
    content: '';
    position: absolute;
    width: 73px;
    height: 30px;
    background: url("http://imgsrv.roll20.net/?src=cdn.rawgit.com/mlenser/6029d0d0ff53cb5a934a0c9222f3c390/raw/7ad132c535dad034e73695193ef3ae3981a978fd/modifier.svg") no-repeat;
    filter: invert(75%) brightness(25%);
    z-index: -1;
    margin-left: -3px;
    margin-top: -3px; }

  .charsheet .sheet-1-5-rem {
    width: auto;
    margin-left: 2px; }

  .charsheet .sheet-indented-box-horizontal-rounded-bottom-bottom-left, .charsheet .sheet-indented-box-horizontal-rounded-bottom-bottom-right, .charsheet .sheet-indented-box-horizontal-rounded-top-left, .charsheet .sheet-indented-box-horizontal-rounded-top-right {
    filter: invert(75%) brightness(25%); }

  .charsheet .sheet-indented-box-horizontal-expand-bottom, .charsheet .sheet-indented-box-horizontal-expand-top, .charsheet .sheet-indented-box-horizontal-rounded-bottom-expand-bottom, .charsheet .sheet-indented-box-horizontal-rounded-bottom-expand-top, .charsheet .sheet-indented-box-horizontal-rounded-expand-bottom, .charsheet .sheet-indented-box-horizontal-rounded-expand-top {
    filter: invert(75%) brightness(25%); }

  .charsheet .sheet-indented-box-horizontal-rounded-bottom-expand-left, .charsheet .sheet-indented-box-horizontal-rounded-bottom-expand-right, .charsheet .sheet-indented-box-horizontal-rounded-expand-left, .charsheet .sheet-indented-box-horizontal-rounded-expand-right {
    filter: invert(75%) brightness(25%); }

  .charsheet .sheet-indented-box-horizontal-expand-left, .charsheet .sheet-indented-box-horizontal-expand-right {
    filter: invert(75%) brightness(25%); }

  .charsheet .sheet-indented-box-horizontal-bottom-left, .charsheet .sheet-indented-box-horizontal-bottom-right, .charsheet .sheet-indented-box-horizontal-rounded-bottom-left, .charsheet .sheet-indented-box-horizontal-rounded-bottom-right, .charsheet .sheet-indented-box-horizontal-rounded-bottom-top-left, .charsheet .sheet-indented-box-horizontal-rounded-bottom-top-right, .charsheet .sheet-indented-box-horizontal-top-left, .charsheet .sheet-indented-box-horizontal-top-right {
    filter: invert(75%) brightness(25%); }

  .charsheet input.sheet-slide-input-pc, .charsheet label.sheet-slide-toggle-pc {
    width: 80px !important; }

  .charsheet label[class^=sheet-slide-toggle-] {
    background-color: #111;
    border-color: #000;
    box-shadow: none;
    height: 14px; }

  .charsheet input[type=checkbox].sheet-slide-input-pc + label.sheet-slide-toggle-pc .sheet-slide-cover {
    background-color: #006666;
    text-shadow: none;
    box-shadow: none; }

  .charsheet input[type=checkbox].sheet-slide-input-pc + label.sheet-slide-toggle-pc span[class^=sheet-slide-toggle-] {
    color: #006666; }

  .charsheet input.sheet-toggle-edit-mode[value='1'] ~ div input, .charsheet input.sheet-toggle-edit-mode[value='1'] ~ div select, .charsheet input.sheet-toggle-edit-mode[value='1'] ~ div textarea {
    background-color: #222; }

  .charsheet input.sheet-toggle-edit-mode[value='1'] ~ div input[type=checkbox]:checked {
    background-color: #009999; }

  .charsheet .sheet-shaped-row .repcontrol {
    min-height: 0; }

  .sheet-shaped-row button.btn.repcontrol_add {
    height: auto;
    width: auto;
    color: #999 !important;
    background: #111;
    padding: 1px 3px;
    cursor: pointer; }

  .sheet-shaped-row button.btn.repcontrol_edit {
    height: auto;
    width: auto;
    color: #999 !important;
    background: #111;
    padding: 1px 3px;
    cursor: pointer; }

  .charsheet .sheet-pseudo-button-wrapper.sheet-visible-button > span {
    background-color: #151515 !important;
    border: 1px solid #000;
    box-shadow: inset 0 1px 0 rgba(100, 100, 100, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #999;
    text-shadow: none;
    transition: all .2s; }
  .charsheet .sheet-pseudo-button-wrapper.sheet-visible-button > span:hover {
    background-color: #1b1b1b !important;
    box-shadow: inset 0 1px 0 rgba(100, 100, 100, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #999;
    transition: all .2s; }

  .sheet-section-settings .sheet-11-rem, .sheet-section-settings .sheet-9-rem, .sheet-section-settings .sheet-10-rem {
    width: 24%; }

  .sheet-section-settings .sheet-wrap-box {
    background-color: transparent;
    border: 1px solid #222; }

  .sheet-section-settings input[type=checkbox] {
    width: 14px !important;
    height: 14px !important;
    margin-top: 0px;
    margin-left: -2px; }

  .charsheet .sheet-section-settings button[type=roll].btn.sheet-visible-button {
    background: #151515;
    border: 1px solid #000;
    box-shadow: inset 0 1px 0 rgba(100, 100, 100, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #999;
    text-shadow: none;
    transition: all .2s; }
  .charsheet .sheet-section-settings button[type=roll].btn.sheet-visible-button:hover {
    background-color: #1b1b1b;
    box-shadow: inset 0 1px 0 rgba(100, 100, 100, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #999;
    transition: all .2s; }

  .sheet-section-settings .repcontrol {
    min-height: 0; }

  .sheet-section-settings button.btn.repcontrol_add {
    height: auto;
    width: auto;
    color: #999 !important;
    background: #111;
    padding: 1px 3px;
    cursor: pointer; }

  .sheet-section-settings button.btn.repcontrol_edit {
    height: auto;
    width: auto;
    color: #999 !important;
    background: #111;
    padding: 1px 3px;
    cursor: pointer; }

  .charsheet .sheet-zebra-rows .sheet-shaped-row:nth-child(even) {
    background-color: transparent; }

  .charsheet .sheet-section-npc .sheet-bar {
    background: transparent;
    border: none; }

  .charsheet .sheet-section-npc .sheet-npc-content-wrap {
    box-shadow: none;
    background: transparent; }

  .charsheet .sheet-section-npc .sheet-creature-name {
    color: #009999; }

  .charsheet .sheet-section-npc .sheet-divider {
    border-left: 300px solid #006666; }

  .charsheet .sheet-section-npc .sheet-top-stats {
    color: #666; }

  .charsheet .sheet-section-npc .sheet-top-stats button, .charsheet .sheet-section-npc .sheet-top-stats input, .charsheet .sheet-section-npc .sheet-top-stats textarea {
    color: #666; }

  .sheet-npc-wrap .sheet-mar-l-sm {
    margin-top: 0; }

  .charsheet .sheet-section-npc .sheet-h3-wrap {
    border-bottom: 1px solid #006666; }

  .charsheet .sheet-section-npc h3 {
    color: #009999; }

  .charsheet .sheet-section-npc input[type="number"], .charsheet .sheet-section-npc input[type="text"], .charsheet .sheet-section-npc select, .charsheet .sheet-section-npc textarea {
    min-height: 20px; }

}