/* ==UserStyle==
@name         Dark Myth-Weavers
@namespace    myth-weavers.com/sheet.html
@description  Dark theme for MythWeavers character sheets
@author       cclloyd (https://gitlab.com/cclloyd1)
@homepageURL  https://gitlab.com/cclloyd1/nightweb
@supportURL   https://gitlab.com/cclloyd1/nightweb/issues
@updateURL    https://gitlab.com/cclloyd1/nightweb/raw/master/mythweavers/mythweavers.user.styl
@preprocessor stylus
@version      1.0.1
@license      MIT
==/UserStyle== */

/*!
 * NOTE: Modifying the code will put auto-update feature of Stylus on pause in
 * order to preserve your local changes. That means you need to manually update
 * Dark-GitLab and re-do your modifications in order to stay up-to-date.
 *
 * A way to add domains without modifying the code doesn't exist yet.
 * Relevant issue: https://github.com/openstyles/stylus/issues/307
 *
 * Make sure you have the latest version before submitting bug reports.
 */

@-moz-document url-prefix('https://www.myth-weavers.com/sheet.html') {

  .navbar-inner {
    background-image: linear-gradient(to bottom, #444, #222);
    border-bottom-color: #111;

  }

  #character_name {
    color: #ccc;
  }

  .navbar .nav > li > a {
    text-shadow: 0 1px 0 #000;
    color: #ccc;
  }

  body {
    background-color: #444;
  }

  .page {
    border: 1px solid #333;
    background-color: #5a5a5a;
    border-radius: 20px;
  }

  .page #stats td.header, .page #stats td.footer, .page #stats td.title, .page td, input {
    background-color: #5a5a5a;
  }

  .control-label {
    color: #ddd;
  }

  select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    color: #ccc;
    border-color: #444;
  }

  .page #feats input {
    border-top-color: #5a5a5a;
    border-bottom-color: #222;
    padding: 1px 3px;
    font-size: 12px;
  }

  .page input, .page textarea, .page select {
    color: #ccc;
  }

  .page #attacks td.header, .page #attacks td.footer, .page #skills a, .page #gear a, .page #skillranks input {
    background-color: #5a5a5a;
    color: #ddd;
  }

  .page #skills tr.skillslot input.text, .page #gear input {
    border-top-color: #5a5a5a;
    border-bottom-color: #222;
  }

  .page #gear input {
    padding: 2px 3px;
  }

  .page input, .page textarea, .page select, input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
    color: #eee;
    background-color: #666;
  }

}